h1.logo {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 9rem;
    color:var(--main-color);
    text-shadow: black 2px 3px 10px;
}


.logo-img {
    background-image: url(../img/home-photo.png);
    min-height: 730px;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: center;
}

.menu {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 3rem;
    color:var(--main-color);
    text-align: center;
    margin-top: 30px;
    text-shadow: black 2px 3px 4px;
}

